body {
  display: grid;
  justify-content: center;
}

h1 {
  text-align: center;
}

.wordle-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  user-select: none;
  cursor: pointer;
  transition: transform 0.1s ease; /* Smooth transition for the click effect */
}

.cell {
  transition: transform 0.1s ease;
}

.cell.last:hover {
  transform: scale(0.9); /* Scales down the cell when clicked */
}

.cell.last:hover + .cell {
  transform: scale(0.95);
}

.cell.last:has(+ .cell.last:hover) {
  transform: scale(0.95);
}

.cell.green {
  background-color: #6ca965;
}

.cell.yellow {
  background-color: #c8b653;
}

.cell.gray {
  background-color: #787c7f;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

footer button {
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

footer label {
  justify-self: center;
  align-self: center;
}
