body {
  display: grid;
  justify-content: center;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  gap: 10px;
}

.solve-button {
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.error-message {
  max-width: 40ch;
  font-size: small;
  justify-self: center;
  color: #883333;
}

