body {
  display: grid;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  justify-items: start;
}

.error-message {
  justify-self: center;
  color: #c04060;
}

.error-message::before {
  content: "\26A0 ";
  white-space: pre;
}

